.App {
  text-align: center;
  background-color: #1D1C40;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  text-align: justify;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.bg-back{
  background-color: #1D1C40;
}
.body {
  background-color: #1D1C40;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Intro {
  background-color: #1D1C40;
  width: 100%;
  min-height: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  margin-top: 100px;
}
.name{
  color:#6805F2;
}

.About {
  background-color: #1D1C40;
  width: 100%;
  min-height: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  vertical-align: top;
}

.Experience {
  background-color: #1D1C40;
  width: 100%;
  min-height: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  vertical-align: top;
}

.Projects {
  background-color: #1D1C40;
    width: 100%;
  min-height: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  vertical-align: top;
}


.Contact {
  background-color: #1D1C40;
    width: 100%;
  min-height: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  vertical-align: top;
}

.mailto{
  background-color: #1D1C40;
  border:#6805F2;
  border-width: 5px;
  border-radius: 5px;
  border-style: outset;
  padding: 15px 25px;
  text-decoration: none;
}
.mailto:hover{
  color: #F26444;
}
/*Tabs Design */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
}
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
 
.react-tabs__tab-list {
  width: 80%;
  margin: 2rem auto 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #AB05F2;
  border-radius: 4rem;
  padding-left: 0px;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  background: #6805F2;
}
 
.react-tabs__tab--disabled {
  color: Gray;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(171, 5, 242, 0.15);
}
 
.react-tabs__tab:first-child {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: calc(6px + 2vmin);
  text-align: center;
}

.App-header {
  background-color: #1D1C40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: #c6c5e6;
  margin-top: 60px;

}



/* Link Color */
a:any-link {
  color: #F26444;
}
a:hover {
  color: #F26444;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
